.piano {
  position: relative;
  display: flex;
  justify-content: center;
  height: 500px;
  width: 620px;
  padding: 15px 10px 15px 10px;
  background-color: ghostwhite;
  box-shadow: -1px 2.5px 2px black, 1px 0.5px 2px black;
  border-radius: 20px;
}

.keyboard {
  position: relative;
  height: 100%;
  width: 7%;
}

.whiteKeysGrid {
  position: absolute;
  height: 100%;
  width: 43px;
  background-color: darkgray;
  display: grid;
  grid-template-rows: repeat(3, 3fr 5fr 5fr 3fr 3fr 5fr 3fr);
  grid-gap: 2px;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;

}

.whiteKey {
  background-color: white;
  box-shadow: -1px 0px 1px white, -1px 0px 1px white;
  border-radius: 0px 3px 3px 0px;


}

.blackKeysGrid {
  position: absolute;
  height: 100%;
  width: 42px;
  border: 1px solid gray;
  display: grid;
  grid-template-rows: repeat(36, 1fr);
  grid-gap: 1px;
  border-radius: 10px 0px 0px 10px;
}

.blackKey {
  background-color: black;
  width: 70%;
  box-shadow: 0px 0.5px 1px black, 1px 0.5px 2px gray;
  padding-top: 2px;
  padding-bottom: 2px;


}

.noteGrid {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(36, 1fr);
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 1px;
  background-color: black;
  border: 1px solid gray;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}

.noteButton {
  background-color: lightsteelblue;
}


