body {
  background-image: url("../images/background/pink dust.png");
  background-repeat: repeat;
  background-color: dimgray; /* mediumseagreen */
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


#instruments {
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

