nav {
  font-family: 'Inconsolata', monospace;
  background-color: black;
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 0px;
  border-bottom: 2px solid white;
}

nav h1 {
  color: oldlace;
  font-size: 20px;
  padding: 0px;
  padding-top: 2px;
  margin: 0px;
  line-height: 40px;
  text-align: center;
}

#playpause {
  width: 140px;
  opacity: 0.8;
  padding-top: 0px;
}


#patterns {
  width: 50%;
  height: 100%;
  padding-top: 10px;
  justify-content: space-between;
  display: flex;
}

.patternBox {
  height: 20px;
  width: 8%;
  background-color: dimgray; /*darkorchid*/
  color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  /*box-shadow: -1px 1px 4px red, 1px 1px 4px red, -0px -0.5px 4px red;*/
  border: 3px groove gray;
}

.patternBox.selected {
  border: 3px groove aliceblue;
}

.patternBox.playing {
  /*border: 3px solid #33FF33;*/
  /*box-shadow: -1px 1px 4px #33FF33, 1px 1px 4px #33FF33, -0px -0.5px 4px #33FF33;*/
}

.patternBox.selected.playing {
  border: 3px groove aliceblue;
}

.patternBox.playing div.patternLight {
  background-color: #33FF33;
  box-shadow: 0.5px 0px 2px #33FF33, -0.5px 0px 2px #33FF33;
}

.patternBox p {
  font-family: sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  line-height: 0px;
  text-align: center;
  color: oldlace;
  border-right: 1px solid tan;
  cursor: default;
}

.patternBox img {
  padding: 2px 8px 2px 8px;
  margin: 0;
  height: 8px;
  width: 8px;
}


.patternLightBox {
  background-color: black;
  border-top: 1px solid tan;
  grid-column: 1 / span 2;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patternLight {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: red;
  box-shadow: 0.5px 0px 2px red, -0.5px 0px 2px red;
  pointer-events: none;
}

