nav {
  font-family: 'Inconsolata', monospace;
  background-color: indigo;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 0px;
  border-bottom: 2px solid black;
}

nav h1 {
  font-size: 20px;
  color: plum;
  padding: 0px;
  margin: 0px;
  line-height: 40px;
  text-align: center;
}

#playpause {
  width: 140px;
  opacity: 0.8;
  padding-top: 0px;
}




#patterns {
  width: 50%;
  height: 100%;
  padding-top: 5px;
  justify-content: space-between;
  display: flex;
}

.patternBox {
  height: 30px;
  width: 8%;
  background-color: darkorchid;
  color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
  box-shadow: -1px 2px 2px red, 1px 2px 2px red, -0px -0.5px 4px red;
  border: 1px solid orangered;
}

.patternBox p {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  line-height: 0px;
  text-align: center;
  color: floralwhite;
}

.patternBox img {
  padding-top: 5px;
  margin: 0;
  height: 10px;
  width: 10px;

}

.patternLightBox {
  border-top: 1px solid mediumvioletred;
  grid-column: 1 / span 2;
  background-color: indigo;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patternLight {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: red;
  box-shadow: 0.5px 0px 2px red, -0.5px 0px 2px red;
}

