nav {
  background-color: dimgray;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

nav h1 {
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  padding-left: 20px;
  color: thistle;
}

#playpause {
  width: 140px;
  opacity: 0.8;
  padding:8px;
}